<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="container mt-5">
  <div class="mb-2">
    <button class="btn btn-primary" [routerLink]="['/form']">
      Agregar Empleado
    </button>
  </div>
  <!-- <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">primernombre</th>
        <th scope="col">segundonombre</th>
        <th scope="col">primerapellido</th>
        <th scope="col">segundoapellido</th>
        <th scope="col">carnetidentidad</th>
        <th scope="col">fechanacimiento</th>
        <th scope="col">fechaingreso</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let empleado of empleados">
        <th scope="row">{{ empleado.idempleados }}</th>
        <td>{{ empleado.primernombre }}</td>
        <td>{{ empleado.segundonombre }}</td>
        <td>{{ empleado.primerapellido }}</td>
        <td>{{ empleado.segundoapellido }}</td>
        <td>{{ empleado.carnetidentidad }}</td>
        <td>{{ empleado.fechanacimiento }}</td>
        <td>{{ empleado.fechaingreso }}</td>
      </tr>
    </tbody>
  </table> -->
</div>

<!-- <mat-label>Filtrar</mat-label> -->
<div class="container">
  <mat-form-field appearance="standard">
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="idempleados">
      <th mat-header-cell *matHeaderCellDef>idempleados</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.idempleados }}
      </td>
    </ng-container>
    <ng-container matColumnDef="primernombre">
      <th mat-header-cell *matHeaderCellDef>primernombre</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.primernombre }}
      </td>
    </ng-container>
    <ng-container matColumnDef="segundonombre">
      <th mat-header-cell *matHeaderCellDef>segundonombre</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.segundonombre }}
      </td>
    </ng-container>
    <ng-container matColumnDef="primerapellido">
      <th mat-header-cell *matHeaderCellDef>primerapellido</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.primerapellido }}
      </td>
    </ng-container>
    <ng-container matColumnDef="segundoapellido">
      <th mat-header-cell *matHeaderCellDef>segundoapellido</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.segundoapellido }}
      </td>
    </ng-container>
    <ng-container matColumnDef="carnetidentidad">
      <th mat-header-cell *matHeaderCellDef>carnetidentidad</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.carnetidentidad }}
      </td>
    </ng-container>
    <ng-container matColumnDef="fechanacimiento">
      <th mat-header-cell *matHeaderCellDef>fechanacimiento</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.fechanacimiento }}
      </td>
    </ng-container>
    <ng-container matColumnDef="fechaingreso">
      <th mat-header-cell *matHeaderCellDef>fechaingreso</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.fechaingreso }}
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let dataSource">

          <div class="example-button-row">
            <button mat-button color="accent" (click)="actualizarEmpleado(dataSource)">Editar</button>
            <button mat-button color="accent" (click)="eliminarEmpleado(dataSource)">Borrar</button>
            <button mat-button color="accent" (click)="marcadorEmpleado(dataSource)">Mostrar marcados</button>
          </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
