<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="container mt-5">

  <h4>{{ empleadoCurrent.primernombre }} {{ empleadoCurrent.segundonombre }} {{ empleadoCurrent.primerapellido }} {{
    empleadoCurrent.segundoapellido }} </h4>

  <div class="mb-2">
    <button class="btn btn-primary" (click)="nuevoMarcador()">
      Agregar marcador
    </button>
  </div>

</div>

<!-- <mat-label>Filtrar</mat-label> -->
<div class="container">

  <mat-form-field appearance="standard">
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por todo" #input />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <input type="date" matInput (change)="filterMarcadosByFecha($event)" placeholder="Buscar por fecha" #input />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef>No</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.idmarcados }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.fecha }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Hora">
      <th mat-header-cell *matHeaderCellDef>Hora</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.hora }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Observacion">
      <th mat-header-cell *matHeaderCellDef>Observacion</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.observacion }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
