<div
  class="container mt-5"
  style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 50px"
>
  <h1 class="text-center mb-5">Registro de Empleado</h1>
  <form>
    <div class="row">
      <div class="mb-3 col-12 col-sm-6">
        <label for="exampleInputEmail1" class="form-label">Primer Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="ingrese su primer nombre"
          [(ngModel)]="empleados.primernombre"
          name="primer_nombre"
        />
      </div>
      <div class="mb-3 col-12 col-sm-6">
        <label for="exampleInputEmail1" class="form-label"
          >Segundo Nombre</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="ingrese su Segundo Nombre"
          [(ngModel)]="empleados.segundonombre"
          name="segundo_nombre"
        />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-12 col-sm-6">
        <label for="exampleInputEmail1" class="form-label"
          >Primer Apellido</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="ingrese su Primer Apellido"
          [(ngModel)]="empleados.primerapellido"
          name="primer_apellido"
        />
      </div>
      <div class="mb-3 col-12 col-sm-6">
        <label for="exampleInputEmail1" class="form-label"
          >Segundo Apellido</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="ingrese su Segundo Apellido"
          [(ngModel)]="empleados.segundoapellido"
          name="segundo_apellido"
        />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-12 col-sm-4">
        <label for="exampleInputEmail1" class="form-label"
          >Carnet Identidad</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="ingrese su Carnet Identidad"
          [(ngModel)]="empleados.carnetidentidad"
          name="carnet_identidad"
        />
      </div>
      <div class="mb-3 col-12 col-sm-4">
        <label for="exampleInputEmail1" class="form-label"
          >fecha nacimiento</label
        >
        <input
          type="date"
          class="form-control"
          placeholder="ingrese su primer nombre"
          [(ngModel)]="empleados.fechanacimiento"
          name="fecha_nacimiento"
        />
      </div>
      <div class="mb-3 col-12 col-sm-4">
        <label for="exampleInputEmail1" class="form-label">fecha ingreso</label>
        <input
          type="date"
          class="form-control"
          placeholder="ingrese su primer nombre"
          [(ngModel)]="empleados.fechaingreso"
          name="fecha_ingreso"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="create()">
      Submit
    </button>
  </form>
</div>
