<div
  class="container mt-5"
  style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 50px"
>
  <h1 class="text-center mb-5">Registro de marcador</h1>
  <form>
    <div class="row">
      <div class="mb-3 col-12 col-sm-6">
        <label for="exampleInputEmail1" class="form-label">Carnet de identidad</label>
        <input
          type="text"
          class="form-control"
          placeholder="Carnet de identidad"
          [(ngModel)]="marcados.carnetIdentidad"
          name="carnetIdentidad"
        />
      </div>
      <div class="mb-3 col-12 col-sm-6">
        <label for="exampleInputEmail1" class="form-label"
          >Fecha</label
        >
        <input
          type="date"
          class="form-control"
          placeholder="Fecha"
          [(ngModel)]="marcados.fecha"
          name="fecha"
        />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-12 col-sm-6">
        <label for="exampleInputEmail1" class="form-label"
          >Hora</label
        >
        <input
          type="date"
          class="form-control"
          placeholder="Hora"
          [(ngModel)]="marcados.hora"
          name="hora"
        />
      </div>
      <div class="mb-3 col-12 col-sm-6">
        <label for="exampleInputEmail1" class="form-label"
          >Observacion</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="Observacion"
          [(ngModel)]="marcados.observacion"
          name="observacion"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="create()">
      Submit
    </button>
  </form>
</div>
